.swiper{
    /* globals */
    --swiper-pagination-bottom: 0;
    --swiper-theme-color: #000000;
    --swiper-navigation-size: 40px;
    /* styles */
    /* padding: TRouBLe */
    /* padding: Top Right Bottom Left (4 digit) */
    /* padding: Top-Bottom Left-Right (2 digit) */
    padding: 20px 40px;
}
.swiper-wrapper{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media screen and (max-width: 320px) {
    .swiper-container {
        width: 320px;
    }
}