.order-form{
    width: calc(100% - 2.5rem);
}
.order-form .phone-input input{
    width: 100%;
}
.order-form input, .order-form textarea, #saved-address{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 35px;
    padding: 0 10px;
}

#saved-address {
    margin-top: 20px;
    padding: 10px 0;
}

.order-form .group{
    display: flex;
    justify-content: space-between;
}
.order-form .group:not(.mass) input:first-child{
    width: 70%;
}
.order-form .group:not(.mass) input:nth-child(2){
    width: calc(30% - 10px);
}

.order-form .group.mass input{
    width: calc(25% - 3px);
    font-size: 12px;
    padding: 0 5px;
}

.order-form .green-zone p.info{
    background-color: #69D800;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}