.order-info{

}
.order-info-data{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.order-info-data p.bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.order-info-payment label{
    margin-left: 10px;
}

.order-info-payment input[type="radio"]:nth-child(4){
    margin-left: 20px;
}

.order-info input{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 35px;
    padding: 0 10px;
}

.order-info .card-wrapper input[name="card"]{
    width: 400px;
    margin-bottom: 10px;
}
.order-info .card-wrapper input:not([name="card"]){
    width: 195px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.order-info .card-wrapper i {
    display: block;
    width: 100px;
    height: 70px;
    background-image: var(--img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}
.order-info .card-wrapper i.googlePay{
    background-size: 80%;
}
.order-info .online-pay{
    display: flex;
    margin: 10px 0;
}
.order-info .promo-holder{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.order-info .promo-holder input{
    width: 300px;
    margin-right: 10px;
}
.order-info .promo-holder button,.order-info .submit-holder button {
    background-color: #FED600;
    border-radius: 10px;
    padding: 0 15px;
    font-weight: 600;
    line-height: 35px;
}

.order-info .submit-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-info .submit-holder p {
    font-size: 18px;
    font-weight: 600;
}

/* SUCCESS PAGE */

#success-checkout-page {
    padding: 50px 0;
}

#success-checkout-page .success-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#success-checkout-page .success-data h2 {
    font-size: 40px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 60px;
}
#success-checkout-page .success-data h3 {
    font-size: 30px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

#success-checkout-page .success-data a {
    background-color: #FED600;
    border-radius: 10px;
    padding: 0 15px;
    font-weight: 600;
    line-height: 35px;
}